@import "tailwindcss";

@theme {
	--color-accent-green: #10b981;
	--color-accent-red: #ef4444;
	--color-accent-amber: #f59e0b;
	--color-bg-page: #0a0a0a;
	--color-bg-input: #171717;
	--color-bg-surface: #262626;
	--color-border-primary: #404040;
	--color-text-primary: #fafafa;
	--color-text-secondary: #a3a3a3;
	--color-text-tertiary: #737373;
}
